


.yellow {
    background-color: yellow;
}


.lightblue {
background-color: lightblue;

}

.green {
    background-color: green;
    
    }

    .purple {
     background-color: purple;
        
        }

 .salmon {
        background-color: salmon;
            
            }